<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://fizzbuzzdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="uxm4Tq75A5SI0cgqH1O5RDQqZVwzDKQb5UnvL2FgMaO8kSibFw7yud5NUoTxPt7vWPeF1DlrpwFcuy73izLvVA==" />
  </appSettings>
</configuration>